@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', Calibri, sans-serif;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #555;
}
a:hover {
  color: #000;
}
h1 {
  -webkit-margin-after: -0.40em; /* Chrome10+,Safari5.1+ */
  font-weight: 200;
  font-size: 42px;
}
p {
  font-size: 16px;
  line-height: 24px;
}

.button {
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 20px;
  text-align: center;
}
.button.blue {
  background-color: #2DB6CF;
  color: #fff;
}
.button.blue:hover {
  background-color: #2D8DCF;
  color: #fff;
}
.button:focus {
  outline: none;
}

/* --- SECTION: Demo ---- */
.container > header {
  text-align: center;
  background-color: rgba(254, 67, 101, 1.0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding: 3em;
}
.container > header h2 {
  font-size: 62px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1.0);
  margin-bottom: 0px;
}
.container > header h2 .light {
  font-weight: 300;
  font-size: 50px;
}
.container > header .tag {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  text-transform: uppercase;
}
.content {
  text-align: center;
}
.content .center {
  position: absolute;
  top: 60%;
  left: 43%;
}
.content .center .button {
  width: 200px;
}
.content .center span {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 3px;
  color: rgba(64, 64, 64, 1.0);
}

.md-body .button {
  display: block;
  width: 100px;
  font-size: 13px;
  margin: 10px auto 0px auto;
}

/* ---- SECTION: Modals ---- */

.muddle-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  background: rgba(254, 67, 101, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-active ~ .muddle-overlay {
  opacity: 1;
  visibility: visible;
}

.muddle-modal {
  visibility: hidden;
  z-index: 2000;
  position: fixed;
  overflow: auto;
  top:40%;
  left:50%;
  max-width:700px;
  min-width: 320px;
  height: auto;

  background-color: rgba(248, 248, 248, 1);
  border-radius: 2px;
  border-bottom: 0 none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-anim .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.md-active.md-anim .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.md-active {
  visibility: visible;
}

.md-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.md-header .title {
  color: rgba(64, 64, 63, 1);
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding-bottom: 2px;
}
.md-header .tagline {
  font-size: 18px;
  font-weight: 300;
  display: block;
  text-align: center;
}

.md-body {
  padding: 10px;
}

/* ---- SECION: MEDIA QUERIES ---- */
@media screen and (max-width:29.9999em) {
}
